{% extends "!layout.html" %}

{%- block extrahead %}
    <!--<script src="_static/jquery.js" type="text/javascript"></script>
    -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[

    var eBookConfig = {
        endpoint: "https://lrs.adlnet.gov/xapi/",// LRS URL
        user: "xapi-tools",// LRS User name
        password: "xapi-tools",// LRS Password
        bookname: "TestBookname",// Book name
        homepage: "http://example.com",// Home page address (must not empty)
        activityId: "http://adlnet.gov/expapi/activities/example",// Activity ID for object
        language: "en-US",// Language type
    };

    //]]>
    </script>
    
    <!-- xAPI -->
    <script src="_static/xapiwrapper.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript"></script>
    <script src="_static/scripts.js" type="text/javascript"></script>
    
    <!-- Multiple choice and fill in the blanks -->
    <script src="_static/runestonebase.js" type="text/javascript"></script>
    <script src="_static/mchoice.js" type="text/javascript"></script>
    <script src="_static/fitb.js" type="text/javascript"></script>
    <!-- Parson's problem -->
    <script src="_static/jquery.min.js" type="text/javascript"></script>
    <script src="_static/jquery-ui.min.js" type="text/javascript"></script>
    <script src="_static/prettify.js" type="text/javascript"></script>
    <script src="_static/underscore-min.js" type="text/javascript"></script>
    <script src="_static/lis.js" type="text/javascript"></script>
    <script src="_static/parsons.js" type="text/javascript"></script>
    <script src="_static/parsons-noconflict.js" type="text/javascript"></script>
    <!-- Drag N Drop -->
    <script src="_static/dragndrop.js" type="text/javascript"></script>
    <script src="_static/timeddnd.js" type="text/javascript"></script>
    
    
{% endblock %}