{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Analyse xAPI message sent by EPUB books created with interepub extension">
        <meta name="author" content="ADL">
        <link rel="icon" href="{% static "img/Book.png" %}">

        <title>Interactive EPUB Analyser</title>

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/animate.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="console-panel">
            <a href="#" class="btn btn-info" id="opener"><i class="fa fa-history"></i></a>
            <h4>Status History</h4>
            <div id="console-history">
            </div>
        </div>

        <section class="container">
            <div class="page-header">
                <h1 class="text-primary"><i class="fa fa-book"></i> Interactive EPUB Analyser</h1>
                <h3 class="text-muted">Analyse xAPI message sent by EPUB books created with interepub extension</h3>
            </div>

            <div class="hidden" id="editor"></div>
            <div class="panel panel-primary">
                <div class="panel-heading collapser"><h3 class="panel-title"><a data-toggle="collapse" data-target="#smar" href="#smar">Interaction Log Query</a></h3></div>
                <div id="smar" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="col-md-12">
                            <form id="statement-search-values">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="search-book-name">Book Name</label>
                                        <input type="text" class="form-control" value="" aria-describedby="Book Name" placeholder="Book Name" id="search-book-name" />
                                    </div>
                                </div><!-- .row -->

                                <div class="panel panel-info">
                                    <div class="panel-heading collapser"><h3 class="panel-title"><a data-toggle="collapse" data-target="#optional_settings" href="#optional_settings" class="collapsed">Optional Settings</a></h3></div>
                                    <div id="optional_settings" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-activity-id">Activity ID</label>
                                                    <input type="text" class="form-control" value="http://adlnet.gov/expapi/activities/example" aria-describedby="Activity ID" placeholder="http://adlnet.gov/activities/question" id="search-activity-id" />
                                                </div>
                                            </div><!-- .row -->

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="search-statements-since-date">Since Date</label>
                                                    <div class="input-group date" id="search-statements-since-date">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="search-statements-until-date">Until Date</label>
                                                    <div class="input-group date" id="search-statements-until-date">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- .row -->

                                            <div class="hidden row">

                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="search-predefined-verb">Predefined Verb</label>
                                                    <select class="form-control" name="search-predefined-verb" id="search-predefined-verb">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="search-verb-sort">Verb Sort</label>
                                                    <select class="form-control" name="search-verb-sort" id="search-verb-sort">
                                                        <option value="">Descending</option>
                                                        <option value="true">Ascending</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-user-verb-id">Verb ID</label>
                                                    <input type="text" class="form-control" value="http://adlnet.gov/expapi/verbs/interacted" aria-describedby="Verb ID" placeholder="http://adlnet.gov/verbs/answered" id="search-user-verb-id" />
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-actor-email">Actor Email</label>
                                                    <input type="email" class="form-control" value="" aria-describedby="Actor Email" placeholder="tyler.mulligan.ctr@adlnet.gov" id="search-actor-email" />
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="search-related-agents">Related Agents</label>
                                                    <select class="form-control" aria-describedby="Related Agents" id="search-related-agents">
                                                        <option></option>
                                                        <option>false</option>
                                                        <option>true</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="search-related-activities">Related Activities</label>
                                                    <select class="form-control" aria-describedby="Related Activities" id="search-related-activities">
                                                        <option></option>
                                                        <option>false</option>
                                                        <option>true</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-registration-id">Registration ID</label>
                                                    <input type="text" class="form-control" value="" aria-describedby="Registration ID" placeholder="51a6f860-1997-11e3-8ffd-0800200c9a66" id="search-registration-id" pattern="^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$" />
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-statement-id">Statement ID</label>
                                                    <input type="text" class="form-control" value="" aria-describedby="Statement ID" placeholder="ef8a3c05-7c88-4d46-a821-c6f2f061ef23" id="search-statement-id" pattern="^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$" />
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-voided-statement-id">Voided Statement ID</label>
                                                    <input type="text" class="form-control" value="" aria-describedby="Voided Statement ID" placeholder="00d9f122-e9cd-4ea3-b180-9daa49c8a7e5" id="search-voided-statement-id" pattern="^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$" />
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="search-limit">Limit</label>
                                                    <input type="number" class="form-control" value="" aria-describedby="Limit" placeholder="25" id="search-limit" />
                                                </div>

                                            </div><!-- .row -->

                                        </div><!-- .panel-body -->

                                    </div>
                                </div><!-- .panel -->
                                <div class="panel panel-info">
                                    <div class="panel-heading collapser">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-target="#auth" href="#auth" class="collapsed">LRS Basic Auth Setup</a></h4>
                                    </div>
                                    <div id="auth" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="row">

                                                <form id="endpoint-values">

                                                    <div class="form-group col-md-4">
                                                        <label class="control-label" for="endpoint">Endpoint</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                                            <input type="url" class="form-control" value="https://lrs.adlnet.gov/xapi/" aria-describedby="LRS Endpoint" id="endpoint" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label class="control-label" for="username">Username</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                            <input type="text" class="form-control" value="xapi-tools" aria-describedby="Username" id="username" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label class="control-label" for="password">Password</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                            <input type="password" class="form-control" value="xapi-tools" aria-describedby="Password" id="password" required />
                                                        </div>
                                                    </div>

                                                </form><!-- #endpoint-values -->

                                            </div><!-- .row -->

                                        </div><!-- .panel-body -->
                                    </div><!-- .panel-collapse -->
                                </div><!-- .panel -->
                            </form><!-- #statement-search-values -->

                            <p>
                                <a class="btn btn-primary" href="#" role="button" id="get-statements-with-search">Get Logs <i class="glyphicon glyphicon-cloud-download"></i></a>
                            </p>

                        </div><!-- .col-md-12 -->
                    </div><!-- .panel-body -->
                </div><!-- #smar -->
            </div><!-- .panel -->


            <div class="panel panel-primary">
                <div class="panel-heading collapser"><h3 class="panel-title"><a data-toggle="collapse" data-target="#damar" href="#damar">EPUB book statistics</a></h3></div>
                <div id="damar" class="panel-collapse collapse in">
                    <div class="panel-body">

                    </div><!-- .panel-body -->
                </div><!-- #damar -->
            </div><!-- .panel -->

            <div class="panel panel-info">
                <div class="panel-heading collapser"><h3 class="panel-title"><a data-toggle="collapse" data-target="#rstmts" href="#rstmts" class="collapsed">Statements Recieved From the LRS</a></h3></div>
                <div id="rstmts" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div>
                            <div id="received-statements"></div>
                        </div>

                        <div class="pull-right">
                            <a class="btn btn-default" href="#" role="button" id="clear-received-statements">Clear Received Statements <i class="glyphicon glyphicon-remove-sign"></i></a>
                        </div>

                    </div><!-- .panel-body -->
                </div>
            </div><!-- .panel -->

            <h3 class="text-info">About</h3>
            <div class="alert alert-info">
                <p>This tool helps to query xAPI statements sent by EPUB books made by <a href="http://sphinx-doc.org/" target="_blank">Sphinx</a> with <a href="https://bitbucket.org/John_Yi_Lu/authoring-learning-content-in-epub" target="_blank">interepub</a> extension. </p>
            </div>

        </section><!-- /.container -->

        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- xAPI Scripts -->
        <script type="text/javascript" src="{% static "js/lib/xapiwrapper.min.js" %}"></script>

        <!-- Editor -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" charset="utf-8"></script>

        <!-- Pretty Print -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>

        <!-- Date Picker -->
        <script type="text/javascript" src="{% static "js/lib/moment.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/bootstrap-datetimepicker.min.js" %}"></script>

        <!-- Notifications -->
        <script type="text/javascript" src="{% static "js/lib/bootstrap-notify.min.js" %}"></script>

        <!-- Form Validation -->
        <script type="text/javascript" src="{% static "js/lib/validator.min.js" %}"></script>

        <!-- Custom Functions -->
        <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
