:focus {outline:none !important;} /* remove dotted outlines in FF */
body { overflow-x: hidden; }
textarea.form-control {
  font-size:10px;
  font-family:courier;
}
.page-header i {
  color: #94D5F5;
  text-shadow: 1px 1px 1px #ccc;
}
#editor { 
    /*width:530px;*/
    height:460px;
    border:1px solid #ccc;
    margin-bottom:10px;
}
.panel-heading.collapser a[data-toggle="collapse"]:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;

}
.panel-heading.collapser .pull-right a {
  margin-right: 6px;
}
.panel-heading.collapser a.collapsed:after {
    content:"\e080";
}
.tab-pane {
    padding-top:20px;
}
pre.prettyprint {
    font-size:10px;
    max-height:300px;
}
[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
}

#console-panel {
    position:fixed;
    right:0;
    width:400px;
    height:100%;
    padding:10px;
    background:#f5f5f5;
    border-left:1px solid #ccc;
    margin-right:-400px;
    z-index:1000;
}
#console-panel h4 {
  margin-top:0px;
}
#opener {
    float:left;
    margin:-10px 0px 0px -49px;
    border-radius:0;
}
#console-history {
  overflow: auto;
  height: 95%;
}
#console-history .alert small {
  opacity: 0.5;
}
.scroable {
    overflow-y: scroll;
    height:100px;
}